<section id="about" class=" w-75 mx-auto " >
    <h1 class="main-font">About</h1>

    <div class=" row align-items-center" >
        <div class="col-md-2" >
            <img  class="w-100" src="./assets/image/gel.jpeg" alt="product">
        </div>
        <div class=" col-md-10">
            <div>
                <h3 class="h5 headers">What is Novaderm??</h3>
                <p class="text-muted">Sun burn gel used on the skin to stop itching and pain 
                    from certain skin condition (such as sun burns and insect bites) keep the area moisturized and minimize 
                    inflammation as the burn heals.</p>
                   
            </div>            
        </div>
        
        
    </div>

    <div class=" row align-items-center" >
        <div class="col-md-2" >
            <img  class="w-100" src="./assets/image/aloevera.jpeg" alt="product">
        </div>
        <div class=" col-md-10">
            <div>
                <h3 class="h5 headers">Ingredients</h3>
                <p class="text-muted">Aloe Vera , Vitamin c , chamomile Tea , glycerine , lidocaine , carpobol , methyl parabens , distilled Water.</p>
                   
            </div>            
        </div>
        
        
    </div>



    
</section>

