<section class="slider">
    <div class="container">
        <img src="./assets/image/slider1.jpg" alt="">
        <img src="./assets/image/slider2.jpg" alt="">
    </div>
</section>

<section class="w-75 mx-auto ">
    <div class=" align-items-center ">
        <div class="col-md-2">
            <img  class="w-100" src="./assets/image/topProductHand.jpg" alt="product">
        </div>
        <div class="col-md-10 ">
            <div>
                <h3 class="h5 headers">Novaderm</h3>
                <p class="text-muted">Novaderm is the powerful gel helps you to get rid of sun burns effectively .</p>
                    <h4 class="h6">sunburn gel</h4>

                    <div class="d-flex align-items-center jutify-content-between">
                        <span>100 EGP</span>

                        <div>
                            <i class="fas fa-star rating-color"></i>
                            <span class="text-muted">4.9</span>
                        </div>
                    </div>

                    <button  class="btn-main w-100" ><a href="#ckeckout">Get product</a></button>
            </div>
        </div>
    </div>
</section>
