<section id="usage" class="w-75 mx-auto ">
    <h1 >Usage</h1>
    <div class=" row align-items-center" >
        <div class="col-md-2" >
            <img  class="w-100" src="./assets/image/sunBurn.jpg" alt="product">
        </div>
        <div class="col-md-10">
            <div>
                <h3 class="h5 headers">When to use??</h3>
                <p class="text-muted">in case of exposure to sunburn</p>
                   
            </div>            
        </div>
    </div>

    <div class=" row align-items-center" >
        <div class="col-md-2" >
            <img  class="w-100" src="./assets/image/allergy.jpeg" alt="product">
        </div>
        <div class="col-md-10">
            <div>
                <h3 class="h5 headers">Who shouldn't use??</h3>
                <p class="text-muted">people who are allergic to aloe vera</p>
                   
            </div>            
        </div>
        
    </div>
</section>
