<nav class="navbar navbar-expand-lg nav-bg" >
 
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <img src="./assets/image/productlogo1.jpg" alt="novaderm-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link text-capitalize" href="#home" >home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-capitalize" href="#about"  >about</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-capitalize" href="#usage"  >usage</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-capitalize" href="#review"  >review</a>
          </li>

         
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <a class="navbar-brand"  target="_blank" href="https://www.mti.edu.eg/faculty/5/pharmacy">
                <img src="./assets/image/pharmacyLogo1.png" alt="pharmacy_MTI">
              </a> 

              <a class="navbar-brand"  target="_blank" href="https://www.mti.edu.eg">
                <img src="./assets/image/mti-logo-light-roboto.png" alt="MTI-logo">
              </a>

            <li class="nav-item">
              <a class="nav-link"  target="_blank" href="https://facebook.com/qr?id=61558891057318">
                <i class="fab fa-facebook" ></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  target="_blank" href="https://www.instagram.com/novaderm?utm_source=qr">
                <i class="fab fa-instagram" ></i>
              </a>
            </li>
  
          </ul>
       
      </div>
    </div>
  </nav>